name: nofake

on:
  workflow_dispatch:
    inputs:
      haxball_rooms:
        description: "Links de las salas (separados por coma)"
        required: true
        default: "https://www.haxball.com/play?c=1n05nbF698Q,https://www.haxball.com/play?c=2,https://www.haxball.com/play?c=3"
      mensaje:
        description: "Mensaje principal de los bots"
        required: true
        default: "Raid por Stefano365p"
      llamar_admin:
        description: "Mensaje para llamar al administrador"
        required: true
        default: "admin"

jobs:
  run-bots:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 27
      matrix:
        include:
          - { job_index: 0, job_id: Arnbjorn }
          - { job_index: 1, job_id: Brynjar }
          - { job_index: 2, job_id: Eydis }
          - { job_index: 3, job_id: Hallgrimur }
          - { job_index: 4, job_id: Svanhildur }
          - { job_index: 5, job_id: Thorfinnur }
          - { job_index: 6, job_id: Katla }
          - { job_index: 7, job_id: Jorundur }
          - { job_index: 8, job_id: Solveig }
          - { job_index: 9, job_id: Hrafnkel }
          - { job_index: 10, job_id: Gudmundur }
          - { job_index: 11, job_id: Ragnheidur }
          - { job_index: 12, job_id: Asgeir }
          - { job_index: 13, job_id: Thordis }
          - { job_index: 14, job_id: Kolbeinn }
          - { job_index: 15, job_id: Unnur }
          - { job_index: 16, job_id: Styrmir }
          - { job_index: 17, job_id: Elinborg }
          - { job_index: 18, job_id: Thorsteinn }
          - { job_index: 19, job_id: Sigridur }
          - { job_index: 20, job_id: Baldur }
          - { job_index: 21, job_id: Freydis }
          - { job_index: 22, job_id: Gisli }
          - { job_index: 23, job_id: Yrsa }
          - { job_index: 24, job_id: Olafur }
          - { job_index: 25, job_id: Halla }
          - { job_index: 26, job_id: Snorri }
          - { job_index: 27, job_id: Vigdís }
          - { job_index: 28, job_id: Ragnar }
          - { job_index: 29, job_id: Embla }
          - { job_index: 30, job_id: Kari }
          - { job_index: 31, job_id: Sigurlaug }
          - { job_index: 32, job_id: Bjornolfur }
          - { job_index: 33, job_id: Gudrun }
          - { job_index: 34, job_id: Thorvaldur }
          - { job_index: 35, job_id: Bryndis }
          - { job_index: 36, job_id: Einarsson }
          - { job_index: 37, job_id: Arnthrudur }
          - { job_index: 38, job_id: Helgi }
          - { job_index: 39, job_id: Laufey }
          - { job_index: 40, job_id: Sigurdur }
          - { job_index: 41, job_id: Thora }
          - { job_index: 42, job_id: Ingimar }
          - { job_index: 43, job_id: Aldis }
          - { job_index: 44, job_id: Hakon }
          - { job_index: 45, job_id: Mireya }
          - { job_index: 46, job_id: Thorhildur }
          - { job_index: 47, job_id: Arnar }
          - { job_index: 48, job_id: Lilja }
          - { job_index: 49, job_id: Skarphéðinn }
          - { job_index: 50, job_id: Rakel }
          - { job_index: 51, job_id: Ketill }
          - { job_index: 52, job_id: Dagný }
          - { job_index: 53, job_id: Sturla }
          - { job_index: 54, job_id: Herdis }
          - { job_index: 55, job_id: Finnbogi }
          - { job_index: 56, job_id: Nanna }
          - { job_index: 57, job_id: Grimur }
          - { job_index: 58, job_id: Thordur }
          - { job_index: 59, job_id: Thjodhildur }
          - { job_index: 60, job_id: Aslaug }
          - { job_index: 61, job_id: Hreinn }
          - { job_index: 62, job_id: Osk }
          - { job_index: 63, job_id: Hlodver }
          - { job_index: 64, job_id: Steinunn }
          - { job_index: 65, job_id: Gunnarsson }
          - { job_index: 66, job_id: Helga }
          - { job_index: 67, job_id: Eyjolfur }
          - { job_index: 68, job_id: Jona }
          - { job_index: 69, job_id: Vidar }
          - { job_index: 70, job_id: Rannveig }
          - { job_index: 71, job_id: Thorarin }
          - { job_index: 72, job_id: Margret }
          - { job_index: 73, job_id: Hrafnhildur }
          - { job_index: 74, job_id: Styrkár }
          - { job_index: 75, job_id: Kolbrun }
          - { job_index: 76, job_id: Arni }
          - { job_index: 77, job_id: Sunna }
          - { job_index: 78, job_id: Geir }
          - { job_index: 79, job_id: Tinna }
          - { job_index: 80, job_id: Vestmar }
          - { job_index: 81, job_id: Audur }
          - { job_index: 82, job_id: Ottar }
          - { job_index: 83, job_id: Roka }
          - { job_index: 84, job_id: Hallkatla }
          - { job_index: 85, job_id: Jökull }
          - { job_index: 86, job_id: Haraldur }
          - { job_index: 87, job_id: Droplaug }
          - { job_index: 88, job_id: Skuli }
          - { job_index: 89, job_id: Ingirun }
          - { job_index: 90, job_id: Orvar }
          - { job_index: 91, job_id: Gudleif }
          - { job_index: 92, job_id: Fjola }
          - { job_index: 93, job_id: Bergthor }
          - { job_index: 94, job_id: Selma }
          - { job_index: 95, job_id: Hrafn }
          - { job_index: 96, job_id: Eir }
          - { job_index: 97, job_id: Thorgrimur }
          - { job_index: 98, job_id: Rósa }
          - { job_index: 99, job_id: Skarpnisse }
          - { job_index: 100, job_id: Hjalti }
          - { job_index: 101, job_id: Gudfinnur }
          - { job_index: 102, job_id: Snæfridur }
          - { job_index: 103, job_id: Ketilbjorn }
          - { job_index: 104, job_id: Yr }
          - { job_index: 105, job_id: Baldvin }
          - { job_index: 106, job_id: Hafdis }
          - { job_index: 107, job_id: Torfi }
          - { job_index: 108, job_id: Fanný }
          - { job_index: 109, job_id: Emil }
          - { job_index: 110, job_id: Sóldís }
          - { job_index: 111, job_id: Ingolfur }
          - { job_index: 112, job_id: Kolla }
          - { job_index: 113, job_id: Bjarki }
          - { job_index: 114, job_id: Tordis }
          - { job_index: 115, job_id: Heimir }
          - { job_index: 116, job_id: Brinhildur }
          - { job_index: 117, job_id: Asmundur }
          - { job_index: 118, job_id: Elva }
          - { job_index: 119, job_id: Thrainn }
          - { job_index: 120, job_id: Solveigsson }
          - { job_index: 121, job_id: Ljosbjorg }
          - { job_index: 122, job_id: Thorvardur }
          - { job_index: 123, job_id: Freyja }
          - { job_index: 124, job_id: Orlyg }
          - { job_index: 125, job_id: Dreyrugur }
          - { job_index: 126, job_id: Gunnlaug }
          - { job_index: 127, job_id: Hildigunnur }
          - { job_index: 128, job_id: Eldgrimur }
          - { job_index: 129, job_id: Bjarnhildur }
          - { job_index: 130, job_id: Sölvi }
          - { job_index: 131, job_id: Eysteinn }
          - { job_index: 132, job_id: Gudlaugur }
          - { job_index: 133, job_id: Brynhildur }
          - { job_index: 134, job_id: Thorberg }
          - { job_index: 135, job_id: Disa }
          - { job_index: 136, job_id: Arngrimur }
          - { job_index: 137, job_id: Helgason }
          - { job_index: 138, job_id: Snæbjorn }
          - { job_index: 139, job_id: Saga }
          - { job_index: 140, job_id: Gissur }
          - { job_index: 141, job_id: Gudney }
          - { job_index: 142, job_id: Thorhalli }
          - { job_index: 143, job_id: EmblaBjorg }
          - { job_index: 144, job_id: Asvald }
          - { job_index: 145, job_id: Ingunn }
          - { job_index: 146, job_id: Sverrir }
          - { job_index: 147, job_id: Hervor }
          - { job_index: 148, job_id: Hallsteinn }
          - { job_index: 149, job_id: Nökkvi }
          - { job_index: 150, job_id: Armodr }
          - { job_index: 151, job_id: Birna }
          - { job_index: 152, job_id: Gauti }
          - { job_index: 153, job_id: Frida }
          - { job_index: 154, job_id: Hrodmar }
          - { job_index: 155, job_id: Asny }
          - { job_index: 156, job_id: Thorin }
          - { job_index: 157, job_id: Mjoll }
          - { job_index: 158, job_id: Eik }
          - { job_index: 159, job_id: Rurik }
          - { job_index: 160, job_id: Asta }
          - { job_index: 161, job_id: Dufgus }
          - { job_index: 162, job_id: Brynleifur }
          - { job_index: 163, job_id: Hvitserk }
          - { job_index: 164, job_id: Gunnhildur }
          - { job_index: 165, job_id: Jorunn }
          - { job_index: 166, job_id: Tryggvi }
          - { job_index: 167, job_id: Audbjorg }
          - { job_index: 168, job_id: Villiam }
          - { job_index: 169, job_id: Arnheidur }
          - { job_index: 170, job_id: Kjalarr }
          - { job_index: 171, job_id: VigdisBjorg }
          - { job_index: 172, job_id: Thoroddur }
          - { job_index: 173, job_id: Rebekka }
          - { job_index: 174, job_id: Skapti }
          - { job_index: 175, job_id: Hekla }
          - { job_index: 176, job_id: Holmfastur }
          - { job_index: 177, job_id: Rúna }
          - { job_index: 178, job_id: Knutur }
          - { job_index: 179, job_id: Elin }
          - { job_index: 180, job_id: Borkur }
          - { job_index: 181, job_id: Solbjort }
          - { job_index: 182, job_id: Grimkel }
          - { job_index: 183, job_id: Adda }
          - { job_index: 184, job_id: Hrodgeir }
          - { job_index: 185, job_id: Dis }
          - { job_index: 186, job_id: Stigandi }
          - { job_index: 187, job_id: Alfhildur }
          - { job_index: 188, job_id: Skallagrim }
          - { job_index: 189, job_id: ToraBjorg }
          - { job_index: 190, job_id: Bjornsson }
          - { job_index: 191, job_id: Asdis }
          - { job_index: 192, job_id: Frosti }
          - { job_index: 193, job_id: Olof }
          - { job_index: 194, job_id: Eormengrund }
          - { job_index: 195, job_id: Huldar }
          - { job_index: 196, job_id: Drott }
          - { job_index: 197, job_id: Arinbjorn }
          - { job_index: 198, job_id: Vala }
          - { job_index: 199, job_id: Thorleifur }

    env:
      HAXBALL_ROOMS: ${{ github.event.inputs.haxball_rooms }}
      MENSAJE: ${{ github.event.inputs.mensaje }}
      LLAMAR_ADMIN: ${{ github.event.inputs.llamar_admin }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Instalar dependencias
        run: |
          npm install puppeteer puppeteer-extra puppeteer-extra-plugin-stealth
          npm ci

      - name: Ejecutar bot
        run: node botsstefano.js
        env:
          JOB_INDEX: ${{ matrix.job_index }}
          JOB_ID: ${{ matrix.job_id }}
        timeout-minutes: 60
